{% extends "base_generic.html" %}

{% block TITLE %}Extended title from base_generic.html {% endblock %}
# {{ poll }}

{% block CONTENT %}

<h1>{{ poll.question }}</h1>
<h3>Complete List of Bi-Weekly Financials from {{poll.ent_name}}</h3>
<ul>
{% for choice in poll.choice_set.all %}
    <li>{{ choice.choice_text }} : {{ choice.booking_date }}</li>
{% endfor %}
</ul>

+++++++++++++++++++++


<h3>Iterated Form</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'portal:vote' poll.id %}" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>


+++++++++++++++++++++

<h3>Input Bi-Weekly Information Here</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'portal:vote' poll.id %}" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}

    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Submit Financial Report" />
</form>




{% endblock %}
